<div class="nav">
	    	<a href="index.html" target="_blank">
	    		<img class="logo" src="__PUBLIC__/Home/public/images/logo.png">
	    		<img class="logo" src="__PUBLIC__/Home/public/images/05.gif" style="height:36px; margin-left:20px;">
	    	</a>
	    	<p>Beta</p>
	        <ul class="nav_center">
	        	<li><a href="{:U('Home/Index/index')}" target="_blank">首页</a></li>
	            <li><a href="{:U('Home/Index/aboutus')}" >关于联保云</a></li>
	            <li><a href="{:U('Home/Index/caseshow')}">方案展示</a></li>
	            <li><a href="{:U('Home/Index/cost')}">产品报价</a></li>
	            <li><a href="{:U('Home/Index/contactus')}">联系我们</a></li>
	             
	        </ul>
	        <ul class="nav_right">
	        <li><a href=" javascript:void(0);" >管理中心</a></li>            <!-- onclick="cooklogin()" -->
            <li><a href="{:U('Home/Index/login')}">登录</a></li>
            <li><a href="{:U('Home/Index/login')}" target="_blank">注册</a></li>
	        </ul>
	        <div class="clearfix"></div>
	    </div>