<!DOCTYPE html>
<html lang="en">
 <head> 
  <!-- 下拉框 --> 
  <link rel="stylesheet" href="__PUBLIC__/Admin/static/ace/css/chosen.css" /> 
  <!-- jsp文件头和头部 --> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /> 
  <meta charset="utf-8" /> 
  <title>联保云</title> 
  <meta name="description" content="" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" /> 
  <!-- bootstrap & fontawesome --> 
  <link rel="stylesheet" href="__PUBLIC__/Admin/static/ace/css/bootstrap.css" /> 
  <link rel="stylesheet" href="__PUBLIC__/Admin/static/ace/css/font-awesome.css" /> 
  <!-- page specific plugin styles --> 
  <!-- text fonts --> 
  <link rel="stylesheet" href="__PUBLIC__/Admin/static/ace/css/ace-fonts.css" /> 
  <!-- ace styles --> 
  <link rel="stylesheet" href="__PUBLIC__/Admin/static/ace/css/ace.css" class="ace-main-stylesheet" id="main-ace-style" /> 
  <script src="__PUBLIC__/Admin/static/ace/js/ace-extra.js"></script> 
  <script src="__PUBLIC__/Admin/static/ace/js/html5shiv.js"></script> 
  <script src="__PUBLIC__/Admin/static/ace/js/respond.js"></script> 
  <link rel="stylesheet" href="__PUBLIC__/Admin/static/ace/css/datepicker.css" /> 
 </head> 
 <body class="no-skin"> 
  <div class="main-container" id="main-container"> 
   <div class="main-content"> 
    <div class="main-content-inner"> 
     <div class="page-content"> 
      <div class="row"> 
       <div class="col-xs-12"> 
        <ul class="breadcrumb"> 
         <li class="active  avtive_bold"><a href="{:U('Import/index')}">待绑定订单列表</a></li> 
         <li class="active  avtive_bold">通用导入数据</li> 
         <li class="active  avtive_bold"><a href="{:U('Import/lead_list')}">导入记录</a></li>  
        </ul> 
        <!-- 检索  --> 
        <form action="companyinfo/list.do" method="post" name="Form" id="Form"> 
         <table border="0" cellspacing="0" cellpading="0" class="table-nav-search"> 
          <tbody>
           <tr> 
            <td> 
             <div class="nav-search"> 
              <span class="input-icon"> 订单号: </span> <input type="text" placeholder="这里输入订单号" class="nav-search-input" id="nav-search-input" autocomplete="off" name="keywords" value="" />
             </div> </td> 
            <td> <span>下单时间:</span> <input class="span10 date-picker start-date" name="lastStart" id="lastStart" value="" type="text" data-date-format="yyyy-mm-dd" readonly="readonly" placeholder="输入日期" title="" /> </td> 
           </tr> 
          </tbody>
         </table> 
         <!-- 检索  --> 
         <foreach name="list" item="vo"> 
         </foreach>
         <table id="simple-table" class="table table-striped table-bordered table-hover" style="margin-top:5px;"> 
          <thead> 
           <tr> 
            <th class="center">通路订单号</th> 
            <th class="center">通路销售日期</th> 
            <th class="center">服务产品名称</th> 
            <th class="center">服务商品数量</th> 
            <th class="center">剩余数量</th> 
            <th class="center">顾客姓名</th> 
            <th class="center">顾客电话</th> 
            <th class="center">操作</th>
           </tr> 
          </thead> 
          <tbody> 
           <!-- 开始循环 --> 
           <tr> 
            <td class="center"></td> 
            <td class="center"></td> 
            <td class="center"></td> 
            <td class="center"></td> 
            <td class="center"></td> 
            <td class="center"></td> 
            <td class="center"></td>
            <td class="center"><a href="">订单详细</a></td>
           </tr>  
           <!-- 循环结束 --> 
          </tbody> 
         </table> 
         <div class="page-header position-relative"> 
          <table style="width:100%;"> 
           <tbody>
            <tr> 
             <td style="vertical-align:top;"> </td> 
             <td style="vertical-align:top;">
              <div class="pagination" style="float: right;padding-top: 0px;margin-top: 0px;"> 
               {$show} 
              </div>
            </td> 
            </tr> 
           </tbody>
          </table> 
         </div> 
        </form> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
   <!-- /.main-content --> 
   <!-- 返回顶部 --> 
   <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse"> <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i> </a> 
  </div> 

    <script type="text/javascript">
			window.jQuery || document.write("<script src='__PUBLIC__/Admin/static/ace/js/jquery.js'>"+"<"+"/script>");
		</script> 

    <script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='__PUBLIC__/Admin/static/ace/js/jquery.mobile.custom.js'>"+"<"+"/script>");
		</script> 
  <script src="__PUBLIC__/Admin/static/ace/js/bootbox.js"></script> 
  <!-- ace scripts --> 
  <script src="__PUBLIC__/Admin/static/ace/js/ace/ace.js"></script> 
  <!-- 下拉框 --> 
  <script src="__PUBLIC__/Admin/static/ace/js/chosen.jquery.js"></script> 
  <!-- 日期框 --> 
  <script src="__PUBLIC__/Admin/static/ace/js/date-time/bootstrap-datepicker.js"></script> 
  <script src="__PUBLIC__/Admin/static/module_option/js/layer.js"></script> 
  <!--layer弹出图层--> 
  <script type="text/javascript" src="__PUBLIC__/Admin/static/js/jquery.tips.js"></script> 
  <script type="text/javascript">
		// $(top.hangge());//关闭加载状态
		//检索
		function tosearch(){
		
			$("#Form").submit();
		}
		$(function() {
		
			//日期框
			$('.date-picker').datepicker({
				autoclose: true,
				todayHighlight: true
			});
			
	</script>  
 </body>
</html>